footer{
    background: #F9F1EC;
}
.footer-min{
    padding: 59px 0 66px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-information-flex{
    display: flex;
    align-items: flex-start;
    max-width: 590px;
    width: 100%;
    justify-content: space-between;
}
.footer-information-nam{
    max-width: 160px;
    width: 100%;
}
.footer-information-nam-href + .footer-information-nam-href{
    margin-top: 35px;
}
.footer-information-nam-href h3{
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    text-transform: uppercase;
    color: #222222;
}
.footer-information-nam-href ul {
    margin-top: 14px;
}
.footer-information-nam-href ul li {
    margin-top: 10px;
}
.footer-information-nam-href ul li a{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
    transition: 0.3s;
}
.footer-information-nam-href ul li a:hover{
    color: #D6607E;
}
.subscribe-to-news {
    max-width: 346px;
    width: 100%;
    margin-left: 25px;
}
.footer-information-nam-href p{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-top: 14px;
}
.subscribe-to-news-in{
    margin-top: 15px;
    margin-bottom: 90px;

}
.subscribe-to-news-form{
    width: 100%;
}
.subscribe-to-news-form label{
    position: relative;
    display: flex;
    width: 100%;
}
.subscribe-to-news-form label input{
    width: 100%;
    height: 45px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #222222;
    border-bottom: 1px solid #222222;
    background: unset;
}
.subscribe-to-news-form label input::placeholder{
    opacity: 0.7;
    color: #979797;

}
.subscribe-to-news-form label button{
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
}
.subscribe-to-news-form label button:hover svg path{
    stroke: #D6607E;
}
.we-accept-for-payment {
    margin-left: 72px;
}
.we-accept-for-payment-flex{
    display: flex;
    justify-content: space-between;
}
.we-accept-for-payment-review{
    margin-top: 4px;
}
.we-accept-for-payment-tit ul{
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.we-accept-for-payment-tit ul li{
    margin-right: 22px;
}
.we-accept-for-payment-tit ul li a{
    display: flex;
}
.accept-for-payment-ar{
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    text-transform: uppercase;
    color: #222222;
}
.we-accept-review-at{
    display: block;
    margin-top: 9px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #D6607E;
    border-bottom: 1px solid #D6607E;
}
.delivery-services-foot {
    margin-top: 31px;
}
.delivery-services-foot ul{
    display: flex;
    align-items: center;
    margin-top: 11px;
}
.delivery-services-foot ul li {
    margin-right: 25px;
}
.delivery-services-foot ul li a{
    display: flex;
}
.takk-rasivo {
    display: flex;
    align-items: center;
    margin-top: 127px;
}
.takk-rasivo p{
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #222222;
}
.takk-rasivo ul {
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.takk-rasivo ul li{
    margin-left: 29px;
}
.takk-rasivo ul li a{
    display: flex;
    transition: 0.3s;

}
.takk-rasivo ul li a svg path{
    transition: 0.3s;
}
.takk-rasivo ul li a:hover svg path{
    fill: #D6607E;
}



@media (max-width: 1170px){
    .we-accept-for-payment {
        margin-left: 0;
        margin-top: 35px;
    }
    .footer-min {
        padding: 50px 0 50px;
        flex-direction: column;
    }
}
@media (max-width: 922px){
    .takk-rasivo {
        margin-top: 55px;
    }
}
@media (max-width: 576px){
    .footer-information-flex{
        flex-direction: column;
    }
    .footer-information-nam-href + .footer-information-nam-href {
        margin-top: 20px;
    }
    .subscribe-to-news {
        margin-left: 0;
        margin-top: 25px;
    }
    .subscribe-to-news-in {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .we-accept-for-payment-flex{
        flex-direction: column;
        align-items: flex-start;
    }
    .we-accept-for-payment-review{
        margin-top: 25px;
    }
    .we-accept-for-payment-tit ul{
        flex-wrap: wrap;
    }
    .we-accept-for-payment-tit ul li {
        margin-right: 15px;
        margin-top: 10px;
    }
    .delivery-services-foot ul{
        flex-wrap: wrap;
    }
    .takk-rasivo {
        margin-top: 50px;
        flex-direction: column;
        align-items: flex-start;
    }
    .we-accept-for-payment {
        margin-left: 0;
        margin-top: 35px;
        width: 100%;
    }
    .delivery-services-foot ul li{
        margin-right: 15px;
        margin-top: 10px;
    }
    .takk-rasivo ul {
        margin-left: 0;
        margin-top: 15px;
    }
    .takk-rasivo ul li {
        margin-left: 0;
        margin-right: 10px;
    }
}