@import "../font/font.css";
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
iframe,
ol,
ul,
li,
form,
label,
i,
footer,
header,
menu,
nav,
a,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
video,
canvas,
section,
/*commonly used tags*/
applet,
object,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
hgroup,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
dl,
dt,
dd,
fieldset,
legend,
article,
aside,
details,
embed,
figure,
figcaption,
output,
section,
summary,
time,
mark,
audio,
center,
ruby {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    position: relative;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    outline: none !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    cursor: pointer;
}

input,
button,
select {
    display: inline-block;
    padding: 0;
    border: 0;
}
img {
    max-width: 100%;
}
body {
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
    width: 100%;
    font-family: 'SF UI Display';
}
.d_block {
    display: block;
}
.d_none {
    display: none;
}
.container {
    max-width: 1230px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn{
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D6607E;
}
.btn:before{
    content: "";
    position: absolute;
    width: 3em;
    height: 100%;
    top: 0;
    left: -35%;
    -webkit-transform: skewX(-45deg) translateX(0);
    -ms-transform: skewX(-45deg) translateX(0);
    transform: skewX(-45deg) translateX(0);
    background: rgb(255, 255, 255);
    opacity: 0;
    visibility: hidden;
}
.btn:hover:before{
    left: 130%;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

